
<div class="container">
    <div class="box">

            <button type="button" class="btn btn-primary " style="float:right;" data-toggle="modal" data-target="#new_genre"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Genre</button>
    </div> 
</div>         

<!-- Genre list fetching from rest api  -->
<div class="container">
    <div class="table-container">
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Genre</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tr ng-repeat="genre in vm.genres">
                <td>
                    <strong>{{genre.name}}</strong>
                </td>
                <td>
                    <center>
                        <button class="btn btn-danger" ng-click="vm.delete_genre(genre)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        &nbsp;
                         </button>
                        
                        <button class="btn btn-success" data-toggle="modal"
                            data-target="#update_genre" ng-click="vm.copygenre(genre)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>   
                       
                    </center>
                </td>
            </tr>
        </table>
    </div>
</div>



<!-- Add New Genre Modal Pop up here -->
<div id="new_genre" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter New Genre</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" ng-submit="vm.add_new_genre(GenreData)">
                    <div class="form-group" >
                        <div class="col-sm-12">
                            <input type="text" name="genre"  id="genre" class="form-control" placeholder="Enter genre name" ng-model="vm.GenreData.name">
                        </div>
                    </div>

                     <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Genre updated modal pop up -->
<div id="update_genre" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Update</b> Genre</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="genre" name="genre" ng-model="vm.name">
                        </div>
                    </div>
                </form>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.updateGenre(name)">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
