<!-- Search form  -->
<div class="container">
    <div class="box">
        <div class="search-container">  
            <form method="post" id="search-form">
                <input type="text" ng-model="query" id="search" name="input-search" placeholder="Search Track(via Title)" />
            </form>

            <button type="button" class="btn btn-primary " style="float:right;" data-toggle="modal" data-target="#new_track"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Track</button>
        </div> 
    </div> 
</div>         


<!-- Track list from Django rest Api -->
<div class="container">
    <div class="table-container">
        <table class="table table-responsive table-bordered" show-filter="true" >
            <thead>
                <thead>
                    <tr>
                        <td ng-click="sortType ='track' ;  sortReverse = !sortReverse">

                            Track  
                        
                            <span ng-show="sortType == 'track' &&   !sortReverse" class="fa fa-caret-down"></span>

                            <span ng-show="sortType == 'track' && sortReverse" class="fa fa-caret-up">
                
                        </td>

                        <td ng-click="sortType ='genre' ;  sortReverse = !sortReverse">
                            Genre  
                        
                            <span ng-show="sortType == 'genre' &&   !sortReverse" class="fa fa-caret-down"></span>

                            <span ng-show="sortType == 'genre' && sortReverse" class="fa fa-caret-up">                       

                        </td>
                        
                        <td ng-click="sortType ='rating' ;  sortReverse = !sortReverse">
                    
                             Rating  
                        
                            <span ng-show="sortType == 'rating' &&   !sortReverse" class="fa fa-caret-down"></span>

                            <span ng-show="sortType == 'rating' && sortReverse" class="fa fa-caret-up">
                        </td>

                        <td>Operations</td>
                    </tr>
                </thead>
            </thead>
            <tr ng-repeat="track in vm.tracks | filter:query |  orderBy:sortType:sortReverse">
                    
                <td>
                    <strong>{{track.title}}</strong>
                </td>


                <td ng-show="track.genres.length!=0">
                    <span ng-repeat="genre in track.genre">[&nbsp;{{genre.name}}&nbsp;&nbsp;]&nbsp;</span> 
                </td>

                <td ng-show="track.genre.length==0">Not Found</td>

                <td>
                    <rating value="track.rating" max="10"></rating>
                </td>
                
                <td>
                    <center>   
                        <button class="btn btn-success" data-toggle="modal"
                            data-target="#update_track" ng-click="vm.edit_track(track.id)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>          
                    </center>
                </td>
            </tr>
        </table>
    </div>
</div>


<!-- Add New Track Modal Pop up here -->
<div id="new_track" class="modal fade" role="dialog" ng-init="vm.track_initialize()">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter New Track</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" ng-form name="vm.track_form">
                    <div class="form-group" >
                        <div class="col-sm-12">
                            <input type="text" name="title" class="form-control" placeholder="Track Title" id="track_title" ng-model="vm.title" ng-minlength="4" ng-maxlength="12" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control" id="genre" ng-model="vm.genre" ng-options="genre as genre.name for genre in vm.genre_list track by genre.id" name="genre" multiple required>
                          
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input  type="number" max="10" min="0" step=.5  class="form-control" name="rating" id="ratimg" ng-model="vm.rating">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="vm.add_new_track(track_form)" ng-disabled="vm.track_form.$invalid">Save</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- track update modal pop up -->
<div id="update_track" class="modal fade" role="dialog" ng-init="vm.edit_track_initialize()">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Update</b> Track</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" ng-form name="vm.track_edit_form">
                    <div class="form-group" >
                        <div class="col-sm-12">
                            <input type="text" name="title" class="form-control" placeholder="Track Title" id="track_title" ng-model="vm.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control" id="edit_genre"  ng-model="vm.genre" name="genre" multiple ng-change="vm.update()">
                                <option ng-repeat="genre in vm.genre_list track by genre.id" ng-value="genre.id" ng-selected="vm.genre_selected.indexOf(genre.id)> -1">{{genre.name}}</option>
              
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input  type="number" max="10" min="0" step=.5  class="form-control" name="rating" id="ratimg" ng-model="vm.rating">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="vm.update_track(track_edit_form)"  ng-disabled="vm.track_edit_form.$invalid">Submit</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
