<!-- Track updated modal pop up -->
<div id="update_track" class="modal fade" role="dialog" ng-init="vm.edittrack_init()">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Update</b> Track</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" ng-form name="vm.track_form">
                    <div class="form-group" >
                        <div class="col-sm-12">
                            <input type="text" name="track_title" class="form-control" placeholder="Track Title" id="track_title" ng-model="title">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control genre_list" id="genre"  ng-model="genre" name="genre" multiple ng-change="display()">
                                <option ng-repeat="genre in genre_list track by genre.id" ng-value="genre.id" ng-selected="selected_genre.indexOf(genre.id)> -1" >{{genre.name}}</option>
              
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input  type="number" max="10" min="0" step=.5  class="form-control" name="rating" id="ratimg" ng-model="rating">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="vm.edit_track(track_form)">Submit</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>